* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    user-select: none;
}

/* Header */
.header-contant {
    width: 100%;
    height: 65px;
    background-color: #b6b6b6;
    display: grid;
    grid-template-columns: 300px 270px 1fr 300px;
    grid-template-rows: 65px;
    /* grid-template-columns: repeat(4 , 1fr);
    align-items: center;
    justify-content: space-between; */
    position: fixed;
    top: 0;
    z-index: 1000;
}

#logo {
    width: 175px;
    height: 65px;
    margin-left: 50px;
    cursor: pointer;
}

.group-icon {
    margin-right: 50px;
    gap: 30px;
    align-content: center;
}

a.material-symbols-outlined {
    font-size: 30px;
    margin-left: 20px;
    cursor: pointer;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 36;
}

.main-area {
    width: 100%;
    height: auto;
}

/* Navbar */
.nav {
    height: 65px;
    display: flex;
    /* align-content:  center; */
    align-items: center;
}

.nav a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: 750;

}

.nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    /* justify-content: space-around; */
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ebebeb;
    z-index: 1000;
    min-width: 215px;
    /* border: 1px solid rgb(37, 37, 37); */
    border-radius: 10px;
}

.dropdown-content a {
    display: block;
    padding: 10px 20px;
    margin: 0;
    color: black;
    text-decoration: none;
    font-weight: normal;
}

.dropdown-content a:hover {
    transform: scale(1.1);
    /* background-color: #c7c7c7; */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.brand {
    display: flex;
    justify-content: space-between;
}

#men:hover {
    border-bottom: 4px solid black;
}

/* Search */
.search {
    display: flex;
    align-self: center;
    justify-self: self-end;
    justify-content: end;
    width: 350px;
    height: 38px;
    background-color: #d9d9d9;
    margin-right: 50px;
    padding: 0 15px;
    border-radius: 25px;
}

.search input {
    flex-grow: 1;
    border: none;
    outline: none;
    background: none;
    padding: 0 10px;
    font-size: 16px;
}

.search input::placeholder {
    color: #b8b3b3;
}

.search button {
    background: none;
    border: none;
    color: black;
}

.container {
    width: 1700px;
    height: 100vh;
    justify-content: center;
    margin: auto;
    margin-bottom: 200px;
    margin-top: 150px;
    display: flex;
    padding: 20px;
    gap: 60px;
}

.right {
    width: 730px;
    height: 100vh;
}

.right .pic img {
    width: 730px;
    height: auto;
}

.right .pic1 {
    margin-top: 50px;
    display: flex;
    width: 100%;
    height: 166px;
    justify-content: space-between;
}

.left {
    width: 710px;
    height: 100vh;
}

.line {
    width: 730px;
    height: 2px;
    background-color: #D9D9D9;
}

.upper1,
.upper2,
.color-size {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 20px;
}


.row {
    display: flex;
    justify-content: space-between;
}

.row-color {
    display: flex;
    gap: 20px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: cadetblue;
}

.lower {
    display: flex;
    flex-direction: column;
}

.quatity {
    display: flex;
    gap: 50px;
    margin: 40px 0;
}

.quatity select {
    padding: 0 5px;
    border-radius: 10px;
}

.option-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: Arial, sans-serif;
}

.option label {
    font-size: 20px;
    font-weight: bold;
}

.description {
    margin-top: 5px;
    margin-left: 20px;
}

.description span {
    font-weight: bold;
}

.description .in-stock {
    color: #37D73C;
}

span {
    font-weight: bold;
    font-size: 16px;
    color: black;
}

.b {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.b button {
    width: 380px;
    height: 50px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;

}

/* Footer */
.footer {
    background-color: #EEEEEE;
    width: 100%;
    height: 150px;
    text-align: center;
    justify-content: center;
    padding: 20px 0;
    margin-top: 100px;
}

.web a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.menu {
    display: flex;
    justify-content: center;
    color: black;
    gap: 30px;
    padding: 30px;
    font-size: 12px;
}

.menu b:hover {
    cursor: pointer;
    text-decoration: underline;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 30px;
    height: 30px;
}

.menu a {
    color: black;
    text-decoration: none;
}

.socials img {
    width: 30px;
    height: 30px;
}

.socials img:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: width 2s;
}

.copyright {
    font-size: 12px;
    margin-top: 18px;
    margin-bottom: 0;
    color: #7e7d7d;
}